article {
  border-radius: 8px;
  
  header {
    margin-bottom: $_gutter_size;
  }
  
  // $_font-size @ _typography
  p,
  ol,
  ul {
    margin-bottom: $_font-size * 1.5;
  }
  
  a img:hover {
    @include box-shadow(lighten($f_d-dark, 25%) 0 4px 4px);
    @include rotate(-1deg);
    @include transition(all 0.5s ease-out);
  }
    
  img {
    background: white;
    border: 1px solid $f_d-grey;
    padding: 4px;
    @include box-shadow(lighten($f_d-dark, 50%) 0 2px 2px);
    @include transition(all 0.5s ease-out);
  }
  
  blockquote {
    color: white;
    padding: 1em;
    margin: 1em 0;
    border: 0.25em solid white;
    @include article-shadow(4px, $f_d-grey);
    @include basic-linear-grader(darken($f_d-color, 10%), $f_d-dark, 92%);
    blockquote {
      @include article-shadow(4px, $f_d-dark);
    }
    
    a {
      color: $f_d-grey;
    }

    .wp-caption {
      color: $f_d-dark;
    }
    
    p:last-child {
      margin-bottom: 0;
    }
  }
  
  q {
    font-style: italic;
    color: $f_d-dark;
  }
  
  ol,
  ul {
    list-style-position: outside;
    margin-left: 1.5em;
    
    ol,
    ul {
      margin-bottom: 0;
    }
  }
  
  footer {
    clear: both;
    padding: $_48th / 2 2px;
    background: white;
  }
  
  footer,
  nav {
    margin-bottom: $_48th;
  }
}

.post-edit-link,
.post-comment-link {
  float: right;
}

.single-post article footer {
  @include basic-linear-grader(white, rgba($f_d-grey, .6), 92%);
  
  $_border: 1px dotted $f_d-dark;
  border: {
    top: $_border;
    bottom: $_border;
  }
}
