.orin-footer {
  clear: both;
  
  min-height: $_sect_h;
  padding-bottom: 2em;
    
  text-align: center;

  section {
    overflow: hidden;
    
    &>ul {
      text-align: left;
      width: $_4th;
      display: inline-block;
      vertical-align: top;
      margin: 2em 0;
      list-style-type: none;
    }
  }
  
  li {
    margin-bottom: $_24th;
    color: $f_d-grey;

    h3 {
      color: $f_d-dark;
      @include text-shadow(none);
    }
    
    li {
      margin: {
        bottom: 0.25em;
        left: $_48th;       
      }
      list-style: {
        type: circle;
        position: outside;
        
      }
    }
  }
  
  a {
    color: $f_d-grey;
    &:visited { color: darken($f_d-grey, 25%); }
  }
}

#searchform label { display: none; }
