#orin-footer {
	clear: both;
	
	min-height: 12em;
	
	border-top: 1px solid white;
	@include basic-linear-grader($f_d-color, $f_d-dark, 24);
	
	text-align: center;
	
	section {
		overflow: hidden;
		
		&>ul {
			text-align: left;
			max-width: $_4th;
			display: inline-block;
			vertical-align: top;
			
			margin: 2em;
			
			list-style-type: none;
		}
	}
	
	li {
		margin-bottom: $_24th;
		color: $f_d-grey;
		
		h3 {
			color: $f_d-dark;
			margin-bottom: $_48th / 2;
		}
		
		li {
			margin-bottom: 0.25em;
			
			margin-left: $_48th;
			list-style: {
				type: circle;
				position: outside;
				
			}
		}
	}
	
	a {
		color: $f_d-grey;
		&:visited { color: darken($f_d-grey, 25%); }
		&:hover { color: lighten(desaturate($f_d-color, 25%), 50%); }
		
		&[rel="home"] { clear: both; }
	}
}