// for CSSLint : declare each heading only once:

@mixin h-font-base($font_size, $line_height: 2em) {
  @extend %sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: $font_size;
  line-height: $line_height;
  font-weight: bold;
  vertical-align: baseline;
  background: transparent;
}

h2,
h3,
h4,
h5,
h6 {
  a {
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
    }
  }
}

h1 {
  @include h-font-base(6em, 1em);
  position: absolute;
  margin-left: $_12th / 2;
  @include text-shadow($f_d-dark 2px 0 2px, $f_d-dark -2px 0 2px);
  transition: 0.3s linear;
  
  a {
    color: $f_d-color;
    text-decoration: none;
  }
  
  &:hover {
    @include text-shadow(lighten($f_d-color, 10%) 4px 0 4px, lighten($f_d-color, 10%) -4px 0 4px);
    text-decoration: none;
  }
}

h2 {
  @include h-font-base(2em, 1em);
  @include text-shadow($f_d-grey 1px 0 1px);
}

h3 {
  @include h-font-base(1.5em);
  @include text-shadow($f_d-grey 0 2px 1px);
}

h4 {
  @include h-font-base(1.375em);
  @include text-shadow($f_d-grey 0 2px 1px);
}

h5 {
  @include h-font-base(1.25em);
  @include text-shadow($f_d-grey 0 2px 1px);
}

h6 {
  @include h-font-base(1.125em);
  @include text-shadow($f_d-grey 0 2px 1px);
}
