// some way to do this as "header" w/o #masthead ?
.masthead {
  @include basic-linear-grader(white, $f_d-grey, 128px);
  height: $_sect_h;
  position: relative;
  
  hgroup {
    h1 {
      position: absolute;
      margin-left: $_12th;
      @include text-shadow($f_d-dark 2px 0 2px, $f_d-dark -2px 0 2px);
      a {
        text-decoration: none;
        color: $f_d-color;
      }
      
      -ms-transition: 0.3s linear;
      @include transition(0.3s linear);
      &:hover { @include text-shadow(lighten($f_d-color, 10%) 4px 0 4px, lighten($f_d-color, 10%) -4px 0 4px); }
    }

    .desc {
      @extend ._sans-serif;
      font-size: 1.5em;
      font-weight: bold;
      position: absolute;
      margin-left: $_3rd / 2;
      margin-top: $_12th;
    }
  }
  
  nav ul {
    position: absolute;
    right: $_24th;
    
    li {
      float: left;
      position: relative;
      
      padding: 4px;
      
      background: white;
      @include basic-linear-grader(rgba($f_d-grey, .7), rgba(white, .9), 92%);
      
      $_nav-li-border-style: 1px solid $f_d-grey;
      border: {
        bottom: $_nav-li-border-style;
        right: $_nav-li-border-style;
      }
      
      &:last-child { @include border-bottom-right-radius(4px); }
      
      ul {
        display: none;
        li {
          min-width: $_12th;
          width: auto;
          float: none;
        }
      }
      &:hover ul {
        display: block;
        position: absolute;
        left: 0;
      }
      &:last-of-type:hover ul {
        left: auto;
        right: 0;
      }
    }
  }
}
