/* @mixins for Orin */

// Compass imports //
@import "compass/css3";

/**
 * @param {Number} $strength (in px or %)
 * @param {Color} $color
 */
@mixin article-shadow($strength, $color) {
	@include box-shadow($color 0 $strength $strength);
	@include transition(box-shadow 0.5s ease-out);
}

/**
* @param {Number} $strength (in px or %)
* @param {Color} $color
 */
@mixin nav-shadow($strength, $color) {
	@include box-shadow($color $strength 0 abs($strength));
	@include transition(box-shadow 0.5s ease-out);
}


/**
 * @param {Color} $base_color
 * @param {Color} $accent_color
 * @param {Number/Percent} $stop - requires a unit!
 */
@mixin basic-linear-grader($base_color, $accent_color, $stop) {
	background: $base_color;
	@include background(linear-gradient($accent_color, $base_color $stop));
}

@mixin button-style {
	@include basic-linear-grader(darken($f_d-desat, 10%), $f_d-color, 84%);
	color: white;
	@include text-shadow($f_d-color 0 1px 1px);
	@include border-radius(8px);
	padding: 6px;
	border: 2px solid darken($f_d-color, 10%);
	@include article-shadow(2px, rgba(desaturate($f_d-color, 10%), .8));
	
	&:hover {
		@include text-shadow(lighten($f_d-color, 40%) 0 2px 4px);
		@include basic-linear-grader($f_d-color, lighten($f_d-desat, 20%), 84%);
		@include article-shadow(4px, rgba(lighten($f_d-color, 20%), .4));
	}
}