/**
 * @mixins for Orin
 */

/**
 * @param {Number} $strength (in px or %)
 * @param {Color} $color
 */
@mixin article-shadow($strength, $color) {
  box-shadow: $color 0 $strength $strength;
  transition: box-shadow 0.5s ease-out;
}

/**
 * @param {Color} $base_color
 * @param {Color} $accent_color
 * @param {Number/Percent} $stop - requires a unit!
 */
@mixin basic-linear-grader($base_color, $accent_color, $stop) {
  background: $base_color;
  @include background(linear-gradient($accent_color, $base_color $stop));
}
