/**
 * @plugins SCSS for Orin
 * In this file, you're supposed to put all the miscellaneous overrides and
 * plugin-specific CSS that gets loaded last and otherwise has no business
 * co-mingling with the Orin theme CSS.
 */

/**
 * Utils
 */
.smaller { font-size: 0.8em; }

/**
 * WP-Calendar
 */
//#wp-calendar tfoot td:last-of-type { text-align: right; }
#next { text-align: right; }

/**
 * Delicious.com
 */
.delicious li {
	list-style-type: circle;
}
.delicious-link,
.delicious-extended {
	margin-bottom: 6px;
}
.delicious-tags {
	@extend .smaller;
	a {
		&:before { content: "#"; }
		&:after { content: ","; }
		&:last-of-type:after { content: ""; }
	}
}

/**
 * Amazon Affiliates
 */
.amazon-beacon {
	background: transparent; // !important
	border: none;            // !important
	margin: 0;               // !important
	padding: 0;              // !important
}

/**
 * WP-Footnotes
 */
.footnotes {
	border: {
		top: 1px solid $f_d-grey;
		top-color: rgba($f_d-color, 0.5);
	}
	padding-top: $_48th;
}
.footnote { @extend .smaller; }

/**
 * F_D search haiku
 */
.search-haiku {
	text-align: center;
	font-style: italic;
}
.search-haiku-defined { @extend .smaller; }