/**
 * @plugins SCSS for Orin
 * In this file, you're supposed to put all the miscellaneous overrides and
 * plugin-specific CSS that gets loaded last and otherwise has no business
 * co-mingling with the Orin theme CSS.
 */

/**
 * WP-Calendar
 */
#wp-calendar {
	$_foot_border: 0px;
	#prev, .pad { border-right: $_foot_border; }
	#next, .pad { border-left: $_foot_border; }
}
footer #wp-calendar {
	color: $f_d-dark;
	a { color: $f_d-color; }
}

/**
 * Delicious.com
 */
.delicious li {
	list-style-type: circle;
}
.delicious-link,
.delicious-extended {
	margin-bottom: 6px;
}
.delicious-tags {
	font-size: 0.8em;
	a {
		&:before { content: "#"; }
		&:after { content: ","; }
		&:last-of-type:after { content: ""; }
	}
}

/**
 * Amazon Affiliates
 */
img.amazon-beacon {
	background: transparent !important;
	border: none !important;
	margin: 0px !important;
	padding: 0px !important;
}

/**
 * WP-Footnotes
 */
.footnotes {
	border {
		top: 1px solid $f_d-grey;
		top-color: rgba($f_d-color, 0.5);
	}
	padding-top: $_48th;
}
.footnote {
	font-size: 0.8em;
}

/**
 * F_D search haiku
 */
p {
	.search-haiku {
		text-align: center;
		font-style: italic;
	}
	.search-haiku-defined { font-size: 0.8em; }
}
