/* RESET */
/* ----------------------------------------- */

/**
 * html5doctor.com Reset Stylesheet
 *
 * v1.4.1
 * 2010-03-01
 * Author: Richard Clark - http://richclarkdesign.com
 */

.zero {
	margin: 0;
	padding: 0;
	border: 0;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, img, ins, kbd, q, samp,
small, sub, sup, var,
strong, b, em, i, a,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	@extend .zero;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	line-height: 1;
}

article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary, hr { 
	display: block;
}

nav ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
	&:before, &:after {
		content: "";
	    content: none;
	}
}

ins, mark {
	background-color: #ff9;
	color: #000;
}

ins { text-decoration: none; }

mark {
	font-style: italic;
	font-weight: bold;
}

del, s, strike {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

hr {
	@extend .zero;
	margin: 1em 0;
	height: 1px;
	background-color: #ccc;
}

input, select { vertical-align: middle; }