aside {
  float: right;
  width: $_3rd - $_48th;
  
  ul { list-style-type: none; }
  
  li {
    margin-bottom: $_24th;
    li {
      margin-bottom: 0.25em;
      
      margin-left: $_48th;
      list-style: {
        type: circle;
        position: outside;
      }
    }
    
    ul {
      padding: 0.5em;
      padding-top: 0;
    }
  }
  .orin-container & ul {
    overflow: hidden;
  }
}

