// font-families
@mixin _sans-serif { font-family: "Gill Sans", "Lucida Grande", "Trebuchet MS", sans-serif; }
@mixin _serif { font-family: "Hoefler Text", Palatino, Georgia, serif; }
@mixin _console { font-family: Consolas, "Lucida Console", Monaco, monospace; }

div, span, p, blockquote,
abbr, address, cite,
del, dfn, ins,  q, samp,
dl, dt, dd, ol, ul, li,
label, legend,
article, details, figcaption, figure, 
hgroup, menu, section, summary {
	@include _serif;
}

h1, h2, h3, h4, h5, h6,
nav, aside,
header nav * {
	@include _sans-serif;
	
}

article {
	header, footer {
		@include _sans-serif;
		* { @include _sans-serif; }
	}
}

pre, code, kbd, tt {
	@include _console;
}

table, caption, tbody, tfoot, thead, tr, th, td {
	
}

// sizing:
$_font-size: 16px;

h1 { font-size: 1.750em; }
h2 { font-size: 1.625em; }
h3 { font-size: 1.500em; }
h4 { font-size: 1.375em; }
h5 { font-size: 1.250em; }
h6 { font-size: 1.125em; }

// @todo - how to ditch #masthead ?
#masthead {
	h1 { font-size: 6em; }
	li { font-size: 14px; /* don't do "em" b/c of the cascade */ }
}

article {
	header, footer { font-size: 0.875em; }
	
	header h2 {
		font-size: 2em;
		a {
			text-decoration: none;
			&:hover { text-decoration: underline; }
		}
	}
	
	font-size: $_font-size;
	line-height: $_font-size * 1.5;
	
	blockquote, q { font-size: 0.875em; }
}