h1,
h2,
h3,
h4,
h5,
h6,
nav {
	font-family: "Gill Sans", "Lucida Grande", "Trebuchet MS", sans-serif;
}

div, span, p, blockquote,
abbr, address, cite,
del, dfn, ins,  q, samp,
dl, dt, dd, ol, ul, li,
label, legend,
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, section, summary {
	font-family: "Hoefler Text", Palatino, Georgia, serif;
}

pre, code, kbd, tt {
	font-family: Consolas, "Lucida Console", Monaco, monospace;
}

table, caption, tbody, tfoot, thead, tr, th, td {
	
}