/**
 * Internet Explorer-specific overrides and compensatory concessionss.
 * @compile to ${THEME_DIRECTORY}/css/ie.css
 */

@import "variables";

/** 
 * IE7 and below...
 */

.masthead nav ul li:hover ul { top: 23px; }

// to get the sidebar in the right place: (fixes IE6+7)
.orin-chronology { float: left; }

// to get the floaters in the footer working: (fixes IE7, but not IE6)
.orin-footer section ul { display: inline !important; }

// gets the buttons on the same line as the field (fixes IE7, not really IE6)
.ie-btn-fix {
	border: 0;
	padding: 0;
}
button { @extend .ie-btn-fix; }
input {
	&[type="button"],
	&[type="file"],
	&[type="reset"],
	&[type="submit"] {
		@extend .ie-btn-fix;
	}

	&[type="text"] {
		border-width: 2px;
		padding: 0;
		margin: 0;
	}
}

// fixes the tables in IE6+7
thead tr {
	th, td { background: #222; }
}
tbody tr {
	th, td { background: white; }
}
tfoot tr {
	th, td { background: #DDD; }
}